
<div class="my-4 max-w-4xl hover:shadow-[0px_0px_20px_5px] rounded-xl shadow-principal transition-all duration-150">
    <div class="flex gap-1.5 justify-end items-center border-2 rounded-t-xl p-1 bg-gray-700 border-gray-700 [&>div]:w-3 [&>div]:h-3 [&>div]:rounded-full [&>div]:transition-all [&>div]:duration-150">
        <div class="bg-green-400 hover:bg-green-800"></div>
        <div class="bg-yellow-400 hover:bg-yellow-800"></div>
        <div class="bg-red-400 hover:bg-red-800"></div>
    </div>
    <div class="max-w-full flex items-center rounded-b-xl justify-between bg-console text-white p-6 border-r-4 border-b-4 border-l-4 border-gray-700">
        <code class="font-code text-lg"><ng-content/></code><!-- Contenido dinámico de comandos -->
        <button (click)="copiar()">
            <svg class="min-w-6 cursor-pointer" width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" /><path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" /></svg>
        </button>
    </div>
</div>
