.chapter h1, .chapter h2,
.chapter h3, .chapter h4,
.chapter h5, .chapter h6 {
  font-weight: 600;
}

.chapter h1 {
    font-size: 1.5em;
    border-bottom: 1px solid black;
}

.chapter h2 {
    font-size: 1em;
}

.chapter h3 {
    font-size: em;
}

.chapter h4 {
    font-size: 1em;
}

.chapter h5 {
    font-size: .875em;
}

.chapter h6 {
    font-size: .85em;
}

.chapter section:not(:last-child),
.chapter article:not(:last-child),
.chapter p:not(:last-child) {
    margin-bottom: 1em;
}