/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
    font-family: Lexend;
    src: url(/fonts/LexendDeca-Regular.ttf);
}
@font-face {
    font-family: Cascadia;
    src: url(/fonts/CascadiaCode-Regular.ttf);
}

@theme {
    --color-principal: #DE4C36;
    --color-fondo: #e0a49a;
    --color-console: #1e2634;
    --font-code: "Cascadia"
}

html, body {
    height: 100%;
}
