/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@font-face {
    font-family: Lexend;
    src: url(/fonts/LexendDeca-Regular.ttf);
}

@theme {
    --color-principal: #DE4C36;
    --fondo-principal: #e0a49a;
}

html, body {
    height: 100%;
}
